##---------------------------##
## IDE                       ##
##---------------------------##
**/*.iml
**/.idea
**/.gradle
**/.project
**/.classpath
**/.settings/

##---------------------------##
## OS                        ##
##---------------------------##
.DS_Store

##---------------------------##
## Build & Packages          ##
##---------------------------##
target/
build/
deploy/
*.jar
*.war
*.ear
*.class

##---------------------------##
## Logs                      ##
##---------------------------##
**/catalina.*/
**/logs/
*.log